@media screen and (max-width:850px) {

    .container,
    .container-header,
    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 10px 0px;
    }

    header {
        flex-direction: column;
        align-items: center;
        margin-top: 10px;
    }

    .head-center {
        flex-direction: column;
    }

    .head-center li {
        margin-bottom: 10px;
    }

    .screen {
        height: 180px;
    }

    .check {
        grid-template-columns: 45% 45%;
        justify-content: space-around;
        justify-items: center;
    }

    .service-left img {
        width: 300px;
    }

    .cont-what-we-do {
        flex-direction: column;
    }

    .prod-left img {
        width: 60%;
        height: 60%;
    }

    .creative {
        flex-direction: column;
        text-align: center;
        align-items: center;
        justify-content: center;
    }

    .screen-contain {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .title,
    .title p,
    .p-head p,
    .p-head {
        font-size: 30px;
        text-align: center;
        margin: 10px 0px;
    }

    .p-first {
        padding: 2px;
        align-items: center;
        padding-left: 20px;
    }

    .screen-contain .p-first,
    .what-left .p-first {
        margin-top: 40px;
        margin-bottom: 10px;
    }

    .check-form {
        display: flex;
        justify-content: center;
    }

    .screen-contain .p-second,
    .what-left .p-second {
        text-align: center;
        margin: 5px;
    }

    .sign-up-input {
        display: none;
    }

    .sign-up-input-1 {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-end;
        margin-top: 30px;
        border-radius: 18px;
        padding-right: 40px;
    }

    .sign-up-input-1 .input-1,
    .sign-up-input-2 input {
        display: flex;
        border: 1px solid rgba(98, 98, 118, 1);
        border-radius: 10px;
        width: 80%;
        padding: 10px;

    }

    .sign-up-input-1 .input-1 {
        font-size: 26px;
    }


    .sign-up-input-1 img {
        margin-left: 13px;
        margin-right: 5px;
        width: 20px;
    }

    .sign-up-input-1 input,
    .sign-up-input-1 input:hover {
        justify-content: flex-start;
        background-color: #0E0E2C;
        border: none;
        font-family: "Montserrat";
        font-size: 14px;
        color: white;
    }

    .sign-up-input-1 button {
        background-color: rgba(255, 190, 11, 1);
        font-family: "Montserrat";
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        font-weight: 600;
        padding: 10px;
        font-size: 14px;
    }

    .sign-up-input-2 button {
        background-color: rgba(255, 190, 11, 1);
        font-family: "Montserrat";
        border-radius: 10px;
        border: none;
        margin-top: 10px;
        font-weight: 600;
        padding: 10px;
        font-size: 14px;
    }

    .check {
        flex-direction: column;
        margin-top: 10px;
        font-size: 12px;
    }

    .check1,
    .check2 {
        display: flex;
        align-items: center;
        justify-content: flex-start;
    }

    .check1 p,
    .check2 p {
        color: white;
        font-family: "Montserrat";
        letter-spacing: 1px;
        margin-left: 2px;
        font-weight: 500;
    }

    .check1 img,
    .check2 img {
        width: 20px;
    }

    .contain-services {
        margin-top: 450px;
    }

    .head-right {
        margin-top: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .card {
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 150px;
        height: 180px;
    }

    .card button {
        background-color: rgba(58, 134, 255, 1);
        padding: 7px 30px;
        border-radius: 5px;
        color: white;
        font-family: "Montserrat";
        font-size: 10px;
        border: none;
    }

    .card img {
        width: 40px;
    }

    .cardp1 {
        color: rgba(14, 14, 44, 1);
        font-family: "Montserrat";
        font-size: 12px;
        font-weight: bold;
        margin-top: 9.17px;
        margin-bottom: 5px;
    }

    .cardp2 {
        color: rgba(131, 131, 148, 1);
        font-family: "Montserrat";
        font-size: 10px;
        margin-bottom: 16.73px;
    }

    .card-contain {
        display: flex;
        margin-top: 64.75px;
        justify-content: center;
    }

    .card1 {
        width: 95%;
        border-radius: 10px;
        display: flex;
        background-color: white;
        height: 50px;
        justify-content: center;
    }

    .card1 p {
        width: 150px;
    }

    .card-p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 10px;
    }

    .card-p .cardp2 {
        font-size: 12px;
    }

    .card-photo {
        display: flex;
        align-items: flex-end;
    }

    .card-photo img {
        height: 130px;
        width: 90px;
    }

    .ph1 {
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
        width: 30px;
    }

    .contain-services {
        flex-direction: column;
    }

    .contain-services img {
        display: none;
    }

    .numbers {
        flex-direction: column;
    }

    .numbers {
        margin-top: 20.53px;
        display: flex;
        align-items: center;
    }

    .numbers img {
        padding-top: 26px;
    }

    .num-1 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    p.title-number1 {
        font-weight: 700;
        font-family: "Montserrat";
        font-size: 38px;
        color: rgba(255, 190, 11, 1);
    }

    .num-2 {
        display: flex;
        align-items: center;
        flex-direction: column;
    }

    p.title-number2 {
        font-weight: 700;
        font-family: "Montserrat";
        font-size: 38px;
        color: rgba(251, 86, 7, 1);
    }

    .what-left .p-first,
    .prod-right .p-first {
        align-items: center;
        margin-top: 20px;
        margin-bottom: 18.3px;
    }

    .contain-services,
    .head-left,
    .cont-what-we-do {
        display: flex;
        flex-direction: column;
    }

    .service-right {
        margin-top: 40%;
    }

    .what-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    .card-what,
    .card-what-1 {
        width: 80%;
        display: flex;
        flex-direction: column;
        text-align: center;
        align-items: center;
        margin-bottom: 29.19px;
        border-radius: 10px;
        padding: 0px 5px;
    }

    .modal {
        display: none;
    }

    p.card-title,
    p.title-prod {
        color: white;
        font-family: "Montserrat";
        font-size: 20px;
        font-weight: bold;
        line-height: 130%;
    }

    .card-what img,
    .card-what-1 img {
        margin-top: 24.1px;
    }

    p.card-text {
        margin-bottom: 24.1px;
    }

    p.card-title {
        margin-top: 31px;
        margin-bottom: 26px;
    }

    .card-what-1 {
        background-color: rgba(26, 26, 61, 1);
    }

    .product {
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .prod-left {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .card-contain-prod {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .first-line-prod {
        justify-content: center;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .first-line-prod img {
        width: 30px;
        height: 30px;
        margin-bottom: 20px;
        margin-top: 20px;
    }

    .prod-check {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 93px;
    }

    p.prod-text {
        width: 320px;
        margin-top: 27px;
        text-align: center;
    }

    .card-prod {
        width: 30%;
        height: 120px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
    }

    .card-prod img {
        width: 80px;
    }

    .footer-center ul {
        margin-left: -40px;
    }

    .creative-left {
        margin-top: 30px;
    }

    .creative-left .p-first {
        align-items: center;
        margin-bottom: 18.34px;
    }

    .creative-right {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .creative-right img {
        width: 70%;
    }

    footer {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .footer-center {
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
    }

    .footer-center li {
        padding: 0px 10px;
    }

    .contact-with-us {
        margin-top: 100px;
    }

    p.contact-text {
        text-align: center;
        padding: 0px 2px;
    }

    .with-us-input {
        display: none;
    }

    .sign-up-input-2 {
        display: flex;
        justify-content: center;
        align-items: flex-end;
        flex-direction: column;
        margin-right: 20px;
        margin-top: 10px;
    }

    .sign-up-input-2 input {
        width: 200px;
        background-color: rgba(14, 14, 44, 1);
        padding: 10px;
        border: rgba(98, 98, 118, 1) 1px solid;
        border-radius: 10px;
        font-family: "Montserrat";
    }

    .sign-up-input-2 button {
        margin-top: 10px;
        background-color: rgba(255, 190, 11, 1);
        color: rgba(14, 14, 44, 1);
        padding: 7px 17px;
        border-radius: 10px;
        border: none;
        font-family: "Montserrat";
    }

    .sign-up-input-2 input:hover {
        color: white;
    }

    .head-btn {
        display: flex;
        flex-direction: column;
    }

    .head-btn button {
        padding: 5px 0px;
        font-size: 12px;
    }

    .head-btn .but1 {
        margin-bottom: 10px;
    }

    footer {
        margin-top: 30px;
        flex-direction: column-reverse;
        margin-bottom: 15px;
        width: 100%;
    }

    .footer-center a {
        margin-bottom: 10px;
    }

    .burger {
        width: 50px;
        height: 50px;
        box-sizing: border-box;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: relative;
        z-index: 110;
        color: white;
        font-family: "Montserrat";
        font-size: 20px;
        transition: 0.4s;
    }

    .burger:hover {
        color: chocolate;
    }

    .burger__line:nth-child(1) {
        top: 0;
    }

    .burger__line:nth-child(2) {
        top: 20px;
    }

    .burger__line:nth-child(3) {
        top: 20px;
    }

    .burger__line:nth-child(4) {
        top: 40px;
    }

    .head-center {
        display: none;
    }

    .main-nav {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        z-index: 90;
        padding-top: 100px;
        background-color: #0E0E2C;
        border-bottom: 1px solid white;
        color: white;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transform: translateY(-100%);
        transition: transform 0.3s ease;
    }

    .head-button {
        display: none;
    }

    .main-nav__list {
        list-style-type: none;
        padding: 0px;
        margin: 0px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        text-align: center;
        margin-bottom: 30px;
    }

    .container-header {
        display: grid;
        grid-template-columns: 100px 100px;
        justify-items: center;
        align-items: center;
    }

    .nav-close {
        display: flex;
        justify-content: flex-end;
        width: 90%;
    }

    .main-nav__item {
        opacity: 0;
        transition: opacity 0.2s ease 0s
    }

    .main-nav__link {
        text-decoration: none;
        font-size: 20px;
        color: white;
        font-family: "Montserrat";
        transition: 0.4s;
    }

    .main-nav__link:hover {
        text-decoration: underline;
        color: rgb(255, 175, 28);
    }

    .menu--open {
        transform: translateY(0%);
        transition: transform 0.2s;
    }

    .menu--open .main-nav__item {
        opacity: 1;
    }

    .menu--open .burger__line:nth-child(1) {
        transform: scaleX(0);
    }

    .menu--open .burger__line:nth-child(2) {
        transform: rotate(45deg);
    }

    .menu--open .burger__line:nth-child(3) {
        transform: rotate(-45deg);
    }

    .menu--open .burger__line:nth-child(4) {
        transform: scaleX(0);
    }

    .main-nav .bi {
        font-family: "bootstrap-icons";
        color: rgb(255, 255, 255);
        font-size: 20px;
        font-weight: bolder;
        transition: 0.5s;
    }

    .main-nav .bi:hover {
        color: rgb(255, 0, 0);
    }

    .burger--none {
        display: none;
    }
}

@media screen and (min-width: 851px) and (max-width: 1425px) {
    header {
        margin-top: 40px;
    }

    .check {
        width: 470px;
    }

    .container,
    .container-header,
    .container-footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .logo {
        margin-left: 130px;
    }

    .header-bottom {
        margin-top: 115px;
    }

    .check {
        grid-template-columns: 1fr 1fr;
    }

    .contain-services {
        margin-left: 53px;
    }

    .head-left .p-first {
        margin-bottom: 8.54px;
        width: 257.35px;
        padding: 13.82px 13.35px 14.46px 13px;
    }

    .head-left .p-second {
        margin-top: 31px;
        margin-bottom: 56.06px;
        width: 461px;
    }

    .title,
    .p-head,
    .title p {
        width: 100%;
        text-align: center;
        font-size: 40px;
        margin-top: 30px;
        margin-bottom: 30px;
    }

    .service-right {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .p-first {
        font-size: 14px;
    }

    .screen-contain .p-first {
        margin-top: 100px;
    }

    .screen-contain .p-second {
        width: 461px;
        margin-top: 55px;
        margin-bottom: 58px;
    }

    .p-second {
        font-size: 16px;
    }

    .sign-up-input-1 {
        display: none;
    }

    .check {
        width: 458px;
        margin-top: 32.62px;
    }

    .check1,
    .check2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .check1 p,
    .check2 p {
        color: white;
        font-family: "Montserrat";
        font-size: 14px;
        letter-spacing: 1px;
        margin-left: 14px;
        font-weight: 500;
    }

    .sign-up-input {
        display: flex;
    }

    .head-right {
        margin-top: 200px;
    }

    .card {
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 21px;
        width: 192px;
        height: 250px;
    }

    .card button {
        background-color: rgba(58, 134, 255, 1);
        padding: 7px 30px;
        border-radius: 5px;
        color: white;
        font-family: "Montserrat";
        font-size: 12px;
        border: none;
        transition: 0.5s;
    }

    .card-contain-creative {
        display: none;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #0E0E2C;
        border: 1px solid white;
        border-radius: 100px;
        backdrop-filter: blur(100px);
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        pointer-events: none;
        opacity: 0;
        transform: scale(0.9);
        transition: transform 0.3s ease-in-out,
            opacity 0.3s ease-in-out;
    }

    .modal__wrapper {
        padding: 100px;
        height: 40%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 20px 0px white;
        border: none;
        max-width: 900px;
        width: 70%;
        border-radius: 20px;
        backdrop-filter: blur(100px);
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .modal button {
        margin-top: 50px;
        width: 20%;
        padding: 20px;
        background-color: #3A86FF;
        border-radius: 30px;
        color: white;
        font-size: 50px;
        font-family: "Montserrat";
        transition: 0.5s;
    }

    .modal-close {
        display: flex;
        justify-content: flex-end;
        width: 90%;
    }

    .modal .bi {
        font-family: "bootstrap-icons";
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-weight: bolder;
        transition: 0.5s;
    }

    .modal .bi:hover {
        color: rgb(255, 0, 0);
    }

    .modal button:hover {
        background-color: #22457e;
    }

    .modal__wrapper h2 {
        font-size: 68px;
        margin-bottom: 20px;
        font-family: "Montserrat";
    }

    .modal__wrapper p {
        font-size: 50px;
        color: gray;
        font-family: "Montserrat";
    }

    .modal--open {
        display: flex;
        pointer-events: auto;
        opacity: 1;
        box-shadow: 10px 100px 1000px 400px #0E0E2C;
        transform: scale(0.5);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .btn--open {
        margin: 20px;
        padding: 10px;
        border-radius: 20px;
        background-color: #0E0E2C;
        color: #0E0E2C;
        border: none;
        transition: 0.3s;
    }

    .cardp1 {
        color: rgba(14, 14, 44, 1);
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: bold;
        margin-top: 9.17px;
        margin-bottom: 5px;
    }

    .cardp2 {
        color: rgba(131, 131, 148, 1);
        font-family: "Montserrat";
        font-size: 11px;
        margin-bottom: 16.73px;
    }

    .card-contain {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 100px;
        width: 100%;
    }

    .card1 {
        width: 438.64px;
        border-radius: 10px;
        display: flex;
        background-color: white;
        height: 126.63px;
    }

    .card1 p {
        width: 160px;
    }


    .card-p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 38px;
    }

    .card-p .cardp2 {
        font-size: 12px;
    }

    .card-photo {
        display: flex;
        align-items: flex-end;
    }

    .card-photo img {
        height: 233px;
        margin-left: 30px;
    }

    a.ph1 {
        margin-left: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
    }


    .contain-services {
        display: flex;
        flex-direction: column;
    }

    .service-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .service-left img {
        max-width: 400px;
    }

    .cont-what-we-do {
        flex-direction: column;
    }

    .contain-services .p-first {
        width: 231.93px;
        height: 39.29px;
        align-items: center;
        margin-top: 40px;
        margin-bottom: 18.71px;
    }

    .numbers {
        margin-top: 20.53px;
        display: flex;
        width: 504px;
        justify-content: space-around;
    }

    .numbers img {
        padding-top: 26px;
    }

    .num-1 {
        padding-right: 48px;
    }

    p.title-number1 {
        font-weight: 700;
        font-family: "Montserrat";
        font-size: 38px;
        color: rgba(255, 190, 11, 1);
    }

    .num-2 {
        padding-left: 48px;
    }

    p.title-number2 {
        font-weight: 700;
        font-family: "Montserrat";
        font-size: 38px;
        color: rgba(251, 86, 7, 1);
    }

    .cont-what-we-do {
        display: flex;
    }

    .what-left {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .what-left .p-first {
        width: 141.57px;
        height: 39.29px;
        align-items: center;
        margin-top: 185px;
        margin-bottom: 18.3px;
    }

    .what-left .p-second {
        margin-top: 34.65px;
    }

    .what-right {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        margin-top: 116px;
        max-width: 100%;
    }

    .card-what,
    .card-what-1 {
        width: 267.5px;
        margin-right: 22.53px;
        margin-bottom: 29.19px;
        border-radius: 10px;
    }

    p.card-title,
    p.title-prod {
        color: white;
        font-family: "Montserrat";
        font-size: 20px;
        font-weight: bold;
        line-height: 130%;
        margin-left: 22.54px;
    }

    .card-what img,
    .card-what-1 img {
        margin-left: 22.54px;
        margin-top: 24.1px;
    }

    p.card-text {
        margin-bottom: 24.1px;
        margin-left: 22.54px;
    }

    p.card-title {
        margin-top: 31px;
        margin-bottom: 26px;
    }

    .card-what-1 {
        background-color: rgba(26, 26, 61, 1);
    }

    .product {
        margin-top: 44px;
    }

    .prod-right {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .prod-right .p-first {
        margin-bottom: 17.82px;
        width: 231.93px;
        height: 39.29px;
        align-items: center;
    }

    .card-prod {
        margin-top: -190px;
        position: absolute;
        margin-left: 25px;
    }

    p.prod-text {
        width: 320px;
        margin-left: 57px;
        margin-top: 27px;
        margin-bottom: 53px;
    }

    p.title-prod {
        margin-left: 26.14px;
    }

    .card-prod {
        display: none;
    }

    .creative-left {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 50px;
    }

    .creative-left .p-first {
        width: 191.86px;
        height: 39.29px;
        align-items: center;
        margin-bottom: 18.34px;
    }

    .creative-left .p-second {
        width: 90%;
        text-align: center;
    }


    .creative-right {
        margin-left: 102px;
        margin-right: 119.55px;
    }

    .creative-right {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .creative-right img {
        max-width: 400px;
    }


    .contact-with-us {
        display: flex;
        margin-top: 173px;
        flex-direction: column;
        align-items: center;
    }

    .contact-with-us p {
        margin-bottom: 59.44px;
        width: 550px;
        text-align: center;
    }

    p.contact-text {
        width: 412px;
        font-size: 16px;
        margin-bottom: 59.44px;
    }


    .with-us-input {
        display: flex;
    }

    .sign-up-input-2 {
        display: none;
    }

    .head-center li,
    .footer-center li {
        margin: 0px 30px;
    }

    .but1 {
        margin-right: 28px;
    }

    .head-btn button {
        padding: 10px 0px;
    }

    .but2 {
        padding: 10px 0px;
    }

    footer {
        margin-top: 186px;
        margin-bottom: 85px;
    }

    .screen-contain {
        width: 100%;
        align-items: center;
    }

    .card-what img {
        width: 73px;
        height: 66px;
    }

    .product {
        display: flex;
        flex-direction: column;
    }

    .prod-left img {
        max-width: 400px;
    }

    .prod-left {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .container-header {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .container-footer {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        justify-items: center;
    }

    .burger,
    .main-nav {
        display: none;
    }

    .head-center,
    .head-center ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

@media screen and (min-width:1426px) {
    header {
        margin-top: 40px;
    }

    .check {
        width: 470px;
    }

    .container,
    .container-header,
    .container-footer {
        max-width: 1440px;
    }

    .logo {
        margin-left: 130px;
    }

    .header-bottom {
        margin-top: 115px;
    }

    .check {
        grid-template-columns: 1fr 1fr;
    }

    .screen {
        height: 980px;
    }

    .contain-services {
        margin-left: 53px;
    }

    .card-contain {
        margin-left: 569.48px;
    }

    .head-left {
        margin-left: 130px;
    }

    .head-left .p-first {
        margin-bottom: 8.54px;
        width: 257.35px;
        padding: 13.82px 13.35px 14.46px 13px;
    }

    .head-left .p-second {
        margin-top: 31px;
        margin-bottom: 56.06px;
        width: 461px;
    }

    .card-prod {
        display: flex;
    }

    .card-contain-creative {
        display: flex;
    }

    .title,
    .p-head,
    .title p {
        width: 550px;
        font-size: 48px;
    }

    .p-first {
        font-size: 14px;
    }

    .screen-contain .p-first {
        margin-top: 177.18px;
    }

    .screen-contain .p-second {
        width: 461px;
        margin-top: 55px;
        margin-bottom: 58px;
    }

    .p-second {
        font-size: 16px;
    }

    .sign-up-input-1 {
        display: none;
    }

    .check {
        width: 458px;
        margin-top: 32.62px;
    }

    .check1,
    .check2 {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .check1 p,
    .check2 p {
        color: white;
        font-family: "Montserrat";
        font-size: 14px;
        letter-spacing: 1px;
        margin-left: 14px;
        font-weight: 500;
    }

    .sign-up-input {
        display: flex;
    }

    .head-right {
        margin-top: 287px;
    }

    .card {
        background-color: white;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-right: 21px;
        width: 192px;
        height: 250px;
    }

    .card button {
        background-color: rgba(58, 134, 255, 1);
        padding: 7px 30px;
        border-radius: 5px;
        color: white;
        font-family: "Montserrat";
        font-size: 12px;
        border: none;
        transition: 0.5s;
    }

    .modal {
        position: fixed;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        background-color: #0E0E2C;
        border: 1px solid white;
        border-radius: 100px;
        backdrop-filter: blur(100px);
        z-index: 999;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        pointer-events: none;
        opacity: 0;
        transform: scale(0.9);
        transition: transform 0.3s ease-in-out,
            opacity 0.3s ease-in-out;
    }

    .prod-check {
        margin-top: 93px;
    }

    .modal__wrapper {
        padding: 100px;
        height: 40%;
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 20px 0px white;
        border: none;
        max-width: 900px;
        width: 70%;
        border-radius: 20px;
        backdrop-filter: blur(100px);
        z-index: 999;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    .modal button {
        margin-top: 50px;
        width: 20%;
        padding: 20px;
        background-color: #3A86FF;
        border-radius: 30px;
        color: white;
        font-size: 50px;
        font-family: "Montserrat";
        transition: 0.5s;
    }

    .modal-close {
        display: flex;
        justify-content: flex-end;
        width: 90%;
    }

    .modal .bi {
        font-family: "bootstrap-icons";
        color: rgb(255, 255, 255);
        font-size: 50px;
        font-weight: bolder;
        transition: 0.5s;
    }

    .modal .bi:hover {
        color: rgb(255, 0, 0);
    }

    .modal button:hover {
        background-color: #22457e;
    }

    .modal__wrapper h2 {
        font-size: 68px;
        margin-bottom: 20px;
        font-family: "Montserrat";
    }

    .modal__wrapper p {
        font-size: 50px;
        color: gray;
        font-family: "Montserrat";
    }

    .modal--open {
        display: flex;
        pointer-events: auto;
        opacity: 1;
        box-shadow: 10px 100px 1000px 400px #0E0E2C;
        transform: scale(0.5);
        transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out;
    }

    .btn--open {
        margin: 20px;
        padding: 10px;
        border-radius: 20px;
        background-color: #0E0E2C;
        color: #0E0E2C;
        border: none;
        transition: 0.3s;
    }

    .cardp1 {
        color: rgba(14, 14, 44, 1);
        font-family: "Montserrat";
        font-size: 18px;
        font-weight: bold;
        margin-top: 9.17px;
        margin-bottom: 5px;
    }

    .cardp2 {
        color: rgba(131, 131, 148, 1);
        font-family: "Montserrat";
        font-size: 11px;
        margin-bottom: 16.73px;
    }

    .card-contain {
        display: flex;
        margin-top: 64.75px;
    }

    .card1 {
        width: 438.64px;
        border-radius: 10px;
        display: flex;
        background-color: white;
        height: 126.63px;
    }

    .card1 p {
        width: 160px;
    }


    .card-p {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin-left: 38px;
    }

    .card-p .cardp2 {
        font-size: 12px;
    }

    .card-photo {
        display: flex;
        align-items: flex-end;
    }

    .card-photo img {
        height: 233px;
        margin-left: 30px;
    }

    a.ph1 {
        margin-left: 34px;
        display: flex;
        align-items: center;
        justify-content: center;
        align-items: center;
    }

    a.ph1 img {
        width: 45px;
        height: 45px;
    }

    .contain-services {
        display: flex;
    }

    .creative {
        display: flex;
    }

    .contain-services .p-first {
        width: 231.93px;
        height: 39.29px;
        align-items: center;
        margin-top: 185px;
        margin-bottom: 18.71px;
    }

    .numbers {
        margin-top: 20.53px;
        display: flex;
        width: 504px;
        justify-content: space-around;
    }

    .numbers img {
        padding-top: 26px;
    }

    .num-1 {
        padding-right: 48px;
    }

    .screen {
        background-image: url("../images/background.svg");
    }

    p.title-number1 {
        font-weight: 700;
        font-family: "Montserrat";
        font-size: 38px;
        color: rgba(255, 190, 11, 1);
    }

    .num-2 {
        padding-left: 48px;
    }

    p.title-number2 {
        font-weight: 700;
        font-family: "Montserrat";
        font-size: 38px;
        color: rgba(251, 86, 7, 1);
    }

    .cont-what-we-do {
        display: flex;
    }

    .what-left {
        margin-left: 130px;
    }

    .what-left .p-first {
        width: 141.57px;
        height: 39.29px;
        align-items: center;
        margin-top: 185px;
        margin-bottom: 18.3px;
    }

    .what-left .p-second {
        margin-top: 34.65px;
    }

    .what-right {
        display: flex;
        flex-wrap: wrap;
        margin-left: 90px;
        margin-top: 116px;
    }

    .card-what,
    .card-what-1 {
        width: 267.5px;
        margin-right: 22.53px;
        margin-bottom: 29.19px;
        border-radius: 10px;
    }

    p.card-title,
    p.title-prod {
        color: white;
        font-family: "Montserrat";
        font-size: 20px;
        font-weight: bold;
        line-height: 130%;
        margin-left: 22.54px;
    }

    .card-what img,
    .card-what-1 img {
        margin-left: 22.54px;
        margin-top: 24.1px;
    }

    p.card-text {
        margin-bottom: 24.1px;
        margin-left: 22.54px;
    }

    p.card-title {
        margin-top: 31px;
        margin-bottom: 26px;
    }

    .card-what-1 {
        background-color: rgba(26, 26, 61, 1);
    }

    .prod-left img {
        margin-left: 130px;
    }

    .product {
        margin-top: 184px;
    }

    .prod-right {
        margin-left: 12px;
    }

    .prod-right .p-first {
        margin-bottom: 17.82px;
        width: 231.93px;
        height: 39.29px;
        align-items: center;
    }

    .card-prod {
        margin-top: -190px;
        position: absolute;
        margin-left: 25px;
    }

    p.prod-text {
        width: 320px;
        margin-left: 57px;
        margin-top: 27px;
        margin-bottom: 53px;
    }

    p.title-prod {
        margin-left: 26.14px;
    }

    .card-prod {
        width: 210px;
        height: 242px;
    }

    .creative-left {
        margin-left: 130px;
        margin-top: 242px;
    }

    .creative-left .p-first {
        width: 191.86px;
        height: 39.29px;
        align-items: center;
        margin-bottom: 18.34px;
    }

    .creative-left .p-second {
        margin-top: 52.45px;
    }


    .creative-right {
        margin-left: 102px;
        margin-right: 119.55px;
    }

    .creative-right img {
        width: 555px;
        height: 734px;
    }


    .contact-with-us {
        display: flex;
        margin-top: 173px;
        flex-direction: column;
        align-items: center;
    }

    .contact-with-us p {
        margin-bottom: 59.44px;
        width: 550px;
        text-align: center;
    }

    p.contact-text {
        width: 412px;
        font-size: 16px;
        margin-bottom: 59.44px;
    }


    .with-us-input {
        display: flex;
    }

    .sign-up-input-2 {
        display: none;
    }

    .head-center li,
    .footer-center li {
        margin: 0px 30px;
    }

    .but1 {
        margin-right: 28px;
    }

    .head-btn button {
        padding: 10px 0px;
    }

    .but2 {
        padding: 10px 0px;
    }

    footer {
        margin-top: 186px;
        margin-bottom: 85px;
    }

    /* 
    .footer-right {
        margin-right: 104px;
    } */

    /* .footer-center {
        margin-left: 133px;
    } */

    .screen-contain {
        width: 100%;
    }

    .card-what img {
        width: 73px;
        height: 66px;
    }

    .prod-left img {
        width: 741px;
        height: 750px;
    }

    .container-header {
        display: grid;
        grid-template-columns: 1fr 765px 1fr;
        justify-items: center;
    }

    .container-footer {
        display: grid;
        grid-template-columns: 1fr 799px 1fr;
        justify-items: center;
    }

    .burger,
    .main-nav {
        display: none;
    }

    .head-center,
    .head-center ul {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

* {
    margin: 0;

}

body {
    background-color: #0E0E2C;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.container,
.container-header,
.container-footer {
    background-color: #0E0E2C;
}

header {
    display: flex;
    justify-content: space-around;
}


.footer-center ul,
.footer-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.head-center li,
.footer-center li {
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-family: "Montserrat";
    list-style-type: none;
    transition: 0.3s;
}

.head-center a,
.footer-center a {
    text-decoration: none;
    transition: 0.3s;
}

.head-btn button {
    border-radius: 10px;
    font-family: "Montserrat";
    font-weight: bold;
    width: 126px;
}

.but1 {
    color: rgb(255, 175, 28);
    border-color: rgb(255, 175, 28);
    background-color: #0E0E2C;
    transition: 0.3s;
}

.but2 {
    background-color: rgb(255, 175, 28);
    border-radius: 10px;
    font-family: "Montserrat";
    font-weight: bold;
    width: 126px;
    transition: 0.5s;
}

input::placeholder,
input:focus {
    color: white;
}

.screen {

    background-size: cover;
    display: flex;
    flex-direction: column;
    background-repeat: no-repeat;
}

.screen-contain {
    display: flex;
    justify-content: space-between;

}

.p-first {
    font-family: "Montserrat";
    background-color: rgba(23, 38, 86, 1);
    color: rgba(58, 134, 255, 1);
    font-style: inherit;
    letter-spacing: 2px;
    display: flex;
    justify-content: center;
    font-weight: 400;
    line-height: 180%;
}

.card-prod {
    flex-direction: column;
}

.card-prod p {
    margin-top: 15px;
    font-family: "Montserrat";
    color: rgb(0, 0, 0);
    font-style: inherit;
    letter-spacing: 1px;
    font-weight: bolder;
}

.title,
.title p {
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: 700;
}

i.play{
    font-family: "bootstrap-icons";
    font-size: 33px;
    color: rgb(0, 110, 255);
    transition: 0.3s ease-in-out;
}
i.play:hover{
    color: rgb(0, 64, 148);
}
.p-second {
    color: rgba(134, 134, 149, 1);
    font-family: "Montserrat";
    font-weight: 400;
    line-height: 180%;
}


.p-head {
    font-family: "Montserrat";
    color: rgb(255, 255, 255);
    font-weight: 700;
}


.sign-up-input {
    align-items: center;
    border: rgba(98, 98, 118, 1) solid 1px;
    width: 485.65px;
    height: 68.94px;
    border-radius: 18px;
}

.sign-up-input img {
    margin-left: 13px;
}

.sign-up-input input {
    justify-content: flex-start;
    background-color: #0E0E2C;
    border: none;
    font-family: "Montserrat";
    font-size: 13px;
    padding: 10px;
    width: 280px;
    margin: 0px 12px;
}

.sign-up-input button {
    margin-right: 8.97px;
}

.check {
    display: grid;
    align-items: center;
    justify-items: flex-start;
}

p.number1,
p.number2,
p.card-text,
p.prod-text {
    color: rgba(134, 134, 149, 1);
    font-family: "Montserrat";
    line-height: 180%;
    font-size: 14px;
}

.num-1 p,
.num-2 p {
    margin-top: 14px;
}

.product {
    display: flex;
    justify-content: flex-start;
}

.first-line-prod {
    display: flex;
}

.card-prod {
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
}


.card-contain-creative {
    justify-content: flex-end;
}

.card-creative {
    background-color: white;
    width: 290px;
    height: 149px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: -106px;
    margin-right: 53px;
    position: absolute;
    flex-direction: column;
}

.images-creative {
    display: flex;
    align-items: center;
    justify-content: center;
}

.images-creative img {
    margin-left: -20px;
    border: white 5px solid;
    border-radius: 100px;
}

.images-creative p {
    font-family: "Montserrat";
    font-size: 20px;
    line-height: 130%;
    color: white;
    margin-left: -45px;
    font-weight: 400;
}

.footer-right {
    display: grid;
    justify-items: center;
    grid-template-columns: 80px 80px 80px 80px;
}

.footer-right .bi {
    font-family: "bootstrap-icons";
    color: rgb(155, 155, 155);
    font-size: 28px;
    transition: 0.5s;
}

.footer-right .bi:hover,
.footer-right .bi:focus {
    color: white;
}



.marg-img img {
    margin-right: 41px;
}

p.creative-p {
    font-family: "Montserrat";
    font-size: 24px;
    font-weight: bold;
    line-height: 130%;
    color: black;
    margin-bottom: 20px;
}

.with-us-input {
    padding: 15px 9px;
    justify-content: space-between;
    align-items: center;
    border: rgba(98, 98, 118, 1) solid 1px;
    width: 485px;
    border-radius: 18px;
}

.with-us-input img {
    margin-left: 13px;
}

.with-us-input input {

    background-color: #0E0E2C;
    border: none;
    font-family: "Montserrat";
    font-size: 13px;
    padding: 10px;
    width: 328px;
    margin: 0px 12px;
}

footer {
    display: flex;
    justify-content: space-between;
}

.numbers img {
    height: 76px;
}

.head-btn button:hover,
.button button:hover,
.head-btn button:focus,
.button button:focus {
    background-color: rgb(131, 85, 0);
    color: white;
}

.head-center li:hover,
.footer-center li:hover, 
.head-center li:focus,
.footer-center li:focus {
    color: rgb(255, 175, 28);
    text-decoration: underline;
}

.card button:hover {
    background-color: rgb(25, 81, 172);
    transform-origin: bottom;
}
.logo h1{
   display: none;
}
